body{
    background-color: #91b397 ;
}
div.cabecero{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
}
#pegadoArriba{
    z-index: 1000;
    background-color: #65bb75;
}
#icono{
    height: 100%;
    width: 10%;
}
#margen{
    margin-left: 2.2%;

}
main{
    height: 100%;
    width: 100%;
    top: 20%;
    left:  0;
    bottom: 10%;
    position: absolute;
}
h2{
    color: black;

}
.cabeceroRecetas{
    width: 100%;
    display: flex;
}
.portada{
    /*height: 15em;*/
    height: 30em;
    width: 50%;
    
}
.contenido{
    /*margin-left: 33%;
    margin-right: 33%;
    */
    color: #225e2c;
    text-shadow: black;
}

th{
    border: solid #225e2c;
}

td,th{
    height: 3em;
    width: 16em;
    text-align: left;
    border-left: solid #225e2c ;
    border-right: solid #225e2c ;
    
}
table{
    margin: 2%;
    margin-bottom: 5%;
}